@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ffc86b;
  --bg-primary: #34353a;
  --bg-secondary: #31333b;
  --bg-tertiary: #3d3e42;
  --nav-active: #fff;
  --nav-inactive: #999a9b;
  --gray-text: #e5e5e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #ffc86b;
    --bg-primary: #34353a;
    --bg-secondary: #31333b;
    --bg-tertiary: #3d3e42;
    --nav-active: #fff;
    --nav-inactive: #999a9b;
    --gray-text: #e5e5e7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-rethink-sans);
}
